<div class="chat-panel card card-default col-lg-6">
    <div class="card-header">
        <i class="fa fa-comments fa-fw"></i>
        Upload File

    </div>
    <mat-card class="example-full-width">
     <form [formGroup]="form" (ngSubmit)="submit()" class="example-form" >

       <mat-form-field class="example-full-width">
          <input matInput formControlName="name" placeholder="Project Name *"
                 >
          <mat-error >
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <section  [ngClass]="{'text-danger' : !form.controls.options.valid  && form.controls.options.dirty }" >
          <label class="d-block ">Options *</label>
          <div class="example-section" formGroupName="options" >
            <mat-checkbox  formControlName="execution_time" class="example-margin">Execution_time</mat-checkbox>
            <mat-checkbox formControlName="memory" class="example-margin" >Memory</mat-checkbox>
            <mat-checkbox formControlName="cpu" class="example-margin" >CPU Usage</mat-checkbox>
          </div>
          <div class="invalid-feedback" style="margin:0px 0px 10px 0px"[ngClass]="{'d-block' : !form.controls.options.valid  && form.controls.options.dirty }">That didn't work.</div>

        </section>
        <section formGroupName="link"  [ngClass]="{'text-danger is-invalid' : !form.controls.link.valid  && !form.controls.link.untouched }" >
          <app-upload #upload (isFileValid)="onChange($event)" url="http://localhost:8080/upload"></app-upload>
          <input type="hidden" formControlName="file"/>
          <br />

          <div class="text-center">
            <h3>OR</h3>
          </div>

         <mat-form-field class="example-full-width">
            <input matInput placeholder="Repository (public only)" formControlName="repository"
                   >
          </mat-form-field>

          <div class="invalid-feedback" style="margin:0px 0px 10px 0px"[ngClass]="{'d-block' : !form.controls.link.valid  && !form.controls.link.untouched }">That didn't work.</div>

        </section>



        <div class="form-actions">
            <button type="submit"  class="btn red">Submit</button>
            <mat-spinner
              style="display:inline-block;margin-left:25px;position:absolute;"
              [diameter]="40"
              *ngIf="loading">
            </mat-spinner>
        </div>
      </form>
    </mat-card>
</div>
