<div >
    <h1>Artemis</h1>
    <div class="row">
        <div class="col-lg-5">
            <div class="card card-default">
                <app-detail *ngIf="(state | async).project.id" [project]="(state | async).project"></app-detail>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-7">
            <div class="card card-default mb-3">
              <app-measures></app-measures>

            </div>

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <div class="row">
      <div class="col-lg-7">
        <app-log [id]="(state | async).id"></app-log>
      </div>
    </div>
</div>
