<div>
 <table mat-table [dataSource]="data" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" > <a [routerLink]="['/project',element.id]">{{element.name}} </a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="execution_time">
      <th mat-header-cell *matHeaderCellDef> Execution Time </th>
      <td mat-cell *matCellDef="let element"> {{element.options.execution_time ? 'Yes' : 'No'}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="memory">
      <th mat-header-cell *matHeaderCellDef> Memory </th>
      <td mat-cell *matCellDef="let element"> {{element.options.memory ? 'Yes' : 'No'}}</td>
    </ng-container>

    <ng-container matColumnDef="cpu">
      <th mat-header-cell *matHeaderCellDef> CPU </th>
      <td mat-cell *matCellDef="let element"> {{element.options.cpu ? 'Yes' : 'No'}}</td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef> Link </th>
      <td mat-cell *matCellDef="let element"> <a href="{{element.link}}">Click Here</a> </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="created_at">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'dd/MM/yyyy' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="totalResults" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
</div>
