table {
  width: 100%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
    width: 30%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2),
.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3),
.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
    width: 10%;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
    width: 10%;
}
