<div [@routerTransition]>
    <h1>Artemis</h1>
    <div class="row">
        <div class="col-lg-7">
            <div class="card card-default">
                <!-- /.card-header -->
                <app-socket-message></app-socket-message>

                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <div class="card card-default mb-3">

            </div>

        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
