.card-body {
  padding-left:0px;
  padding-right:0px;
  ul {
   list-style-type: none;
   padding-left:0px;
   overflow-y: scroll;
   height: 500px;

   li {
     padding:5px 15px;
     p {
       margin-bottom:0px;
       font-size:15px;
     }
   }
   li:nth-child(odd) {
     background-color:#f8f9fa;
   }
 }
}
