<section>
 <div class="form-group needs-validation">
    <label class="control-label">File</label>
    <input type="file" (change)="selectFile($event)"  class="form-control" id="inputSuccess">
    <mat-progress-bar class='bar' *ngIf="uploading" mode="determinate" [value]="percentage | async"></mat-progress-bar>
    <div class="invalid-feedback"
         >
      <div>
        Only Accept Zip File.
      </div>
    </div>
 </div>
</section>
